
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background-color: #1f2937;
    color: #F9faf8;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    font-size: 18px;
}

.header-strip {
    display: flex;
    padding-top: 12px;
    
}

.logo {
    flex: 2;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
}

.header-content {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    
}

button {
    width: 90px;
    padding: 4px 2px;
    border-radius: 6px;
    background: #3882F6;
    color: #F9faf8;
    font-weight: bold;
    border: none;
}

.header-image {
    align-content: center;
    background-color: gray;
    width: 50%;
    text-align: center;
    
}

.header-text  {
    width: 50%;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 900;
}




main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
}

.first-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-bottom: 48px;
}

.first-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-list {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 250px;
}

.card p {
    text-align: center;
    color: #747272;
}

.item {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}



.second-info {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;

}

.quote-content {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 910px;

}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    width: 910px;
    align-self: center;
    font-style: italic;
}

.person {
    align-self: flex-end;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.footer-box {
    background: #3882F6;
    display: flex;
    flex-direction: column;
    width: 910px;
    padding: 6px 34px;
    color: #F9faf8;
    border-radius: 8px;
}

.footer-content {
    display: flex;
}

.footer-text {
    flex-grow: 2;
}

.footer-content button {
    border: solid #F9faf8;
    align-self: center;
}